* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	
	--textdark:   black;
	--textlight:  gray;
	--bgcolor:    white;
	--highlight:  crimson;
	--textfont:   sans-serif;
	--codefont:   monospace;
	
}

@media only screen and (prefers-color-scheme: dark) {
	* {
		--textdark:   white;
		--textlight:  lightgray;
		--bgcolor:    black;
		--highlight:  orange;
	}
	pre {
		background:rgba(255,255,255,.03);
	}
}

html {
	font: 16px / 1.5 var(--textfont);
}

body {
	color: var(--textdark);
	background: var(--bgcolor);
	position: relative;
	max-width: 45rem; /* column width */
	margin: 0 auto;
}

/* Show & hide sections */

section, section:target ~ section:last-of-type {
	height: 0;
	overflow: hidden;
	padding: 0;
}

section:target, section:last-of-type {
	height: auto;
	overflow: visible;
	padding: calc(5vw + 2.6rem) 4vw 1.6rem;
}

section:focus {
	outline: 0;
}


/* Webkit fix for overflowing text? */

section {
	overflow-wrap: break-word;
	width: 100%;
}

/* Header */

header {
	padding: 5vw 4vw 0 4vw;
	position: absolute;
	width: 100%;
	z-index: 1;
}

/* Footer */

footer {
	color: var(--textlight);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 4vw 5vw 4vw;
}

footer .footer-links {
	display: block;
	width: 100%;
}

footer .footer-links a {
	display: inline-block;
}

footer .footer-links span.divider {
	display: inline-block;
	margin: 0 5px;
}
footer .footer-links span.divider:last-of-type {
	display: none;
}

/* Stop the homepage content from appearing as a footer link */
footer .footer-links a.home-content, footer .footer-links a.home-content + span.divider {
	display: none;
}

footer * + * {
	margin-top: 0;
}

/* Table of contents */

ul.toc {
	overflow: hidden;
	padding: 0;
}

ul.toc * + * {
	margin: 0;
}

ul.toc li {
	line-height:1.5;
	position: relative;
	display: flex;
	align-items: flex-end;
	margin: 0;
}

ul.toc li a {
	flex: 1;
}

ul.toc li a span {
	background: var(--bgcolor);
	padding-right: .3rem;
}

ul.toc li time {
	z-index: 1;
	padding-left:.3rem;
	color: var(--textlight);
	background: var(--bgcolor);
}

ul.toc li a:after {
	width: 100%;
	font-size: .55rem;
	position: absolute;
	bottom: .4rem;
	color: var(--textlight);
	white-space: nowrap;
	content:
		' . . . . . . . . . . . . . . . . . . . . . .'
		' . . . . . . . . . . . . . . . . . . . . . .'
		' . . . . . . . . . . . . . . . . . . . . . .'
		' . . . . . . . . . . . . . . . . . . . . . .'
		' . . . . . . . . . . . . . . . . . . . . . .'
		' . . . . . . . . . . . . . . . . . . . . . .';
}

/* General */

a {
	color: var(--highlight);
	text-decoration: none;
	overflow-wrap: break-word;
}

@media (hover: hover) and (pointer: fine) {
	a:hover {text-decoration: underline;}
}

a[href*="//"]:after {
	font-size: .65rem;
	content: "\2197";
	display: inline-block;
	color: var(--textlight);
}

a[href*="//"]:hover:after {
	color: inherit;
}

/* Headings */

header h1 {
	margin-bottom: 1rem;
}
header h1 a {
	font-weight: normal;
	display: block;
}

section h1 {
	font-size: 1.4rem;
	line-height:1.5;
	padding-top: 1rem;
}

header h1, h2, h3, h4, strong, b, dt {
	font-size: 1rem;
}

* + h2, * + h3, * + h4 {
	margin-top: 1.4rem;
}

h2.cute, h3 {
	text-transform: uppercase;
	letter-spacing: .06rem;
	font-size: .9rem;
	font-weight: 400;
}

/* Lists */

li, dd {
	margin-left: 1.5rem;
}

li + li, li ol, li ul {
	margin-top: .1rem;
}

.footnotes li {
	color: var(--textlight);
	margin-top:.5rem;
	max-width:95%;
}

/* Images */

img {
	display: block;
	max-width: 100%;
	min-height:6rem;
	height: auto;
	position: relative;
}

img:after { /* style offline images */
	content: attr(alt);
	display: grid;
	align-content:center;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: .8rem;
	text-align:center;
	color: var(--textlight);
	border:1px dashed var(--textlight);
	background-color: var(--bgcolor);
}

figure {
	padding: 1rem;
}

figcaption, small, .footnotes {
	font-size: .865rem;
}

/* Other elements */

blockquote {
	padding: 0 1rem;
	border-left: 1px solid var(--textlight);
	margin-left: 3rem;
}

cite {
	font-style: normal;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
}

a abbr[title] {
	cursor: pointer;
	color: inherit;
}

hr {
	border: 0;
	height: 0;
	border-bottom: 1px solid var(--textlight);
	opacity: .9;
	margin: 1.4rem 0;
}

sup {
	line-height: 1;
	font-size: .75rem;
	margin-left: .05rem;
}

code, kbd {
	font-family: var(--codefont);
	color: var(--textlight);
	font-size: .9rem;
	overflow-wrap: break-word;
}

kbd {
	box-shadow:0 .5px 1px;
	border-radius:2px;
	padding:.05rem .325rem;
	font-size:.85rem;
	margin: 0 .1rem;
}

pre {
	line-height: 1.55;
	overflow: auto;
	background: rgba(0,0,0,.03);
	padding: .5rem .85rem .6rem .85rem;
	border-radius: 4px;
}

pre code {
	font-size:.9rem;
	position: relative;
	display:block;
	overflow-wrap: normal;
}

pre code:after {
	content: attr(class);
	position: absolute;
	right: -.6rem;
	top: -.3rem;
	text-transform: uppercase;
	font-size: .7rem;
	opacity:.45;
}

input, select, textarea, button {
	font: inherit;
	font-size: .85rem;
	line-height: inherit;
	border: 0;
	box-shadow: 0 0 .05rem;
	padding: .2rem .4rem;
	width: 100%;
}

/* Tables */

table {
	border-collapse: collapse;
	min-width: 100%;
	margin: 1rem 0;
}

thead {
	text-align: left;
	border-bottom: 1px solid var(--textlight);
}

tr + tr {
	border-top: 1px solid var(--textlight);
}

th, td {
	padding: .4rem .3rem .2rem;
}

/* Disable footnotes #links */

sup a {
	color: currentColor;
	pointer-events: none;
}

a.footnote-backref {
	display: none;
}

/* Print */

@media print {
	
	* {
		--bgcolor: white;
		--textfont: serif;
	}

	html {
		font: 12px / 1.25 var(--textfont);
	}

	
	header {
		position: relative;
	}
	
	section {
		height: auto;
		overflow: visible;
		
		page-break-after: always;
		page-break-inside: avoid;
		break-inside: avoid;
		display: block;
		padding: 2rem 4vw;
	}

	section * {
		page-break-inside: avoid;
		break-inside: avoid;
	}
	
}

@media only screen and (max-width: 500px) {
	footer .footer-links a { display: block; margin: 0.2rem 0; }
	footer .footer-links span.divider { display: none; }
	blockquote, figure { padding-left: 4vw; padding-right: 4vw; }
	ul.toc li {
		align-items: flex-start;
		flex-direction: column-reverse;
	}
	ul.toc li a { padding-bottom:1rem; }
	ul.toc li time { font-size: .8rem; padding-left: 0; }
	ul.toc li a:after {
		height: 0;
		overflow: hidden;
		position: absolute;
	}
}
